//style for particular show displayed in flex
.showDetail {
  margin: 20px;
  @include flexCenter(row, flex-start, flex-start);
  @include fontSize(30px);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  img {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 720px) {
  .showDetail {
    @include flexCenter(row, flex-start, center);
    flex-wrap: wrap;
    @include fontSize(20px);
  }
}
@import "./mixins";
@import "./variables";
