body {
  background-color: lightyellow;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Flex-container-episode-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Flex-container-episode-detail article {
  margin: 20px;
  padding: 30px 30px;
  background-color: #c6ceb2;
  border-radius: 10px;
  width: 50%;
}

h2 {
  text-align: center;
}

img {
  border-radius: 15px;
  border: 2px solid black;
}

.Episode-table {
  border-collapse: collapse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Episode-table td {
  font-size: medium;
  border: 1px solid #ddd;
  padding: 8px;
}

.Episode-table tr {
  height: 35px;
}

.Episode-table tr:nth-child(even) {
  background-color: lightgrey;
}

.Episode-table tr:hover {
  background-color: darkturquoise;
}

.Episode-table th {
  text-align: left;
  background-color: #3c948b;
  color: white;
  font-size: 1em;
  border: 1px solid #ddd;
  padding: 8px;
}

.Show-detail {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Show-detail img {
  margin: 0px 10px 10px 0px;
}

.Show-detail article {
  padding: 0px 30px;
  background-color: #c6ceb2;
  border-radius: 10px;
  width: 75%;
}

@media only screen and (max-width: 720px) {
  .Show-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
  }
}

.Home-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.Episode-list {
  margin: 0% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */